body{
background:#0b2d0b;
font-family:Georgia;
color:white;
text-align:center;
}

header{
background:#123c12;
padding:20px;
}

h1{
color:#7fff7f;
}

.book{
background:#1e4d1e;
padding:20px;
margin:20px;
border-radius:10px;
}

button{
padding:10px;
background:#3fa33f;
border:none;
color:white;
border-radius:5px;
}